@media all and (min-width: 1024px)
{

	h1
	{
		color: silver;
		font-size: 30px;
		text-align: center;
		border: 3px black inset;
		width: 225px;
		margin-left: 300px;
	}

	header
	{
		justify-content: center;
		vertical-align: top;
		flex: 1;
        padding-left: 30px;
        
	}

	.lisere
	{
		width: 10%;
		height: 600px;
		color: black;
		font-size: 35px;
		background-color: silver;
		padding-top: 100px;
		padding-left: 20px;
		font-family: 'police', Arial, serif;
		float: left;
	}

	.conteneurTotal
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-image: url("fond.jpg");
		font-family: 'police', Arial, serif;
	}


	.body
	{
		display: flex;
		padding-left: 20px;
		height: 700px;
		width: 90%;
		align-content: flex-start;
		
	}

	section
	{
		padding-left: 50px;
	}

	
	@font-face
	{
		font-family: 'Police';
		src: url('police.woff');
	}

	h2
	{
		text-shadow: 3px 3px 1px silver;
	}

	p {
		width: 100px;
		height: 100px;
		background-color: red;
		position: relative;
		animation: myfirst 5s linear 2s infinite alternate;
	  }
	  
	  
	  @keyframes myfirst {
		0%   {background-color:rgb(255, 133, 133); left:0px; top:0px;}
		20%  {background-color:rgb(255, 255, 125); left:600px; top:0px;}
		40%  {background-color:rgb(117, 117, 255); left:400px; top:200px;}
		60%  {background-color:rgb(153, 240, 252); left:300px; top:0px;}
		80%  {background-color:rgb(131, 255, 131); left:200px; top:200px;}
		100% {background-color:rgb(255, 152, 152); left:0px; top:0px;}
	  }
}

@media all and (max-width: 1024px)
{
		h1
	{
		color: silver;
		font-size: 30px;
		text-align: center;
		border: 3px black inset;
		width: 225px;
		margin-left: 300px;
	}

	header
	{
		justify-content: center;
		vertical-align: top;
		flex: 1;
		padding-left: 30px;
	}

	.conteneurTotal
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		background-image: url("fond.jpg");
		font-family: 'police', Arial, serif;
	}


	.body
	{
		display: flex;
		flex-direction: column;
		padding-left: 20px;
		height: 700px;
		width: 90%;
		align-content: flex-start;
		
	}

	section
	{
		padding-left: 5px;
	}

	@font-face
	{
		font-family: 'Police';
		src: url('police.woff');
	}

	h2
	{
		text-shadow: 3px 3px 1px silver;
	}
	p {
		width: 100px;
		height: 100px;
		background-color: white;
		position: relative;
		animation: myfirst 5s linear 2s infinite alternate;
	  }
	  
	  
	  @keyframes myfirst {
		0%   {background-color:rgb(255, 133, 133); left:0px; top:0px;}
		25%  {background-color:rgb(255, 255, 125); left:200px; top:0px;}
		50%  {background-color:rgb(117, 117, 255); left:200px; top:200px;}
		75%  {background-color:rgb(131, 255, 131); left:0px; top:200px;}
		100% {background-color:rgb(255, 152, 152); left:0px; top:0px;}
	  }
    
}

