@media all and (min-width: 1024px)
{

	h1
	{
		color: silver;
		font-size: 30px;
		text-align: center;
		border: 3px black inset;
		width: 225px;
		margin-left: 300px;
	}

	header
	{
		justify-content: center;
		vertical-align: top;
		flex: 1;
        padding-left: 30px;
        
	}

	.lisere
	{
		width: 10%;
		height: 600px;
		color: black;
		font-size: 35px;
		background-color: silver;
		padding-top: 100px;
		padding-left: 20px;
		font-family: 'police', Arial, serif;
		float: left;
	}

	.conteneurTotal
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-image: url("fond.jpg");
		font-family: 'police', Arial, serif;
	}


	.body
	{
		display: flex;
		padding-left: 20px;
		height: 700px;
		width: 90%;
		align-content: flex-start;
		
	}

	section
	{
		padding-left: 50px;
	}

	
	@font-face
	{
		font-family: 'Police';
		src: url('police.woff');
	}

	h2
	{
		text-shadow: 3px 3px 1px silver;
	}
}

@media all and (max-width: 1024px)
{
		h1
	{
		color: silver;
		font-size: 30px;
		text-align: center;
		border: 3px black inset;
		width: 225px;
		margin-left: 300px;
	}

	header
	{
		justify-content: center;
		vertical-align: top;
		flex: 1;
		padding-left: 30px;
	}

	.conteneurTotal
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		background-image: url("fond.jpg");
		font-family: 'police', Arial, serif;
	}


	.body
	{
		display: flex;
		flex-direction: column;
		padding-left: 20px;
		height: 700px;
		width: 90%;
		align-content: flex-start;
		
	}

	section
	{
		padding-left: 5px;
	}

	@font-face
	{
		font-family: 'Police';
		src: url('police.woff');
	}

	h2
	{
		text-shadow: 3px 3px 1px silver;
    }
    
}